rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() { return request.auth != null; }
    match /posts/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if signedIn() && request.auth.uid == userId && request.resource.size < 15 * 1024 * 1024;
    }
    match /stories/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if signedIn() && request.auth.uid == userId && request.resource.size < 20 * 1024 * 1024;
    }
    match /users/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if signedIn() && request.auth.uid == userId && request.resource.size < 5 * 1024 * 1024;
    }
    match /messages/{cid}/{allPaths=**} {
      allow read, write: if signedIn() && request.resource.size < 15 * 1024 * 1024;
    }
  }
}
